<section class="section gallery">
  <!-- gallery cocktails -->
  <div class="gallery__container container">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="gallery__list card-set js-open-modal-cocktail">
    </ul>
  </div>

  <!-- gallery favorite ingredients -->
  <div class="gallery__container container">
    <h2 class="gallery__title">Favorite ingredients</h2>
    <ul class="gallery__list-ingr card-set">
      <li class="gallery__list-item card-set-item">
        <p class="gallery__list-name">Campari</p>
        <p class="gallery__list-type">Liqueur</p>
        <div class="gallery__btn-container">
          <button class="gallery__btn gallery__btn-more" type="button">
            Learn more
          </button>
          <button class="gallery__btn gallery__btn-fav" type="button">
            Remove
            <svg width="16" height="14">
              <use class="gallery__btn-fav-svg" href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="gallery__list-item card-set-item">
        <p class="gallery__list-name">Blanco tequila</p>
        <p class="gallery__list-type">Distilled beverage</p>
        <div class="gallery__btn-container">
          <button class="gallery__btn gallery__btn-more" type="button">
            Learn more
          </button>
          <button class="gallery__btn gallery__btn-fav" type="button">
            Remove
            <svg width="16" height="14">
              <use class="gallery__btn-fav-svg" href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery__list-item card-set-item">
        <p class="gallery__list-name">Vermouth</p>
        <p class="gallery__list-type">fortified wine</p>
        <div class="gallery__btn-container">
          <button class="gallery__btn gallery__btn-more" type="button">
            Learn more
          </button>
          <button class="gallery__btn gallery__btn-fav" type="button">
            Remove
            <svg width="16" height="14">
              <use class="gallery__btn-fav-svg" href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>