<div class='modal__cocktail'>
  <div class='modal__wrap'>

    <div class='cocktail__wrap'>
      <h2 class='cocktail__name'>Campari</h2>
      <h3 class='cocktail__title view'>Liqueur</h3>
      <p class='description__text'><span class='accent__text'>Campari</span> is an Italian alcoholic liqueur, considered
        an apéritif (20.5%, 21%, 24%, 25%,
        or 28.5% ABV, depending on the country in which it is sold),
        obtained from the infusion of herbs and fruit (including chinotto and cascarilla)
        in alcohol and water. It is a bitters, characterised by its dark red colour.</p>

      <ul class='characteristic'>
        <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Type:</span> Bitters</li>
        <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Country of origin:</span> Italy</li>
        <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Alcohol by volume:</span> 20.5–28.5%</li>
        <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Flavour:</span> Bitter, spicy and sweet</li>
      </ul>
    </div>
    <button type='button' class='btn--close'> &#10006</button>
  </div>

  <button type='button' class='modal__btn'>Add to favorite</button>
  <button type='button' class='modal__btn visually-hidden'>Remove from favorite</button>
</div>+