<div class="backdrop-team visually-hidden js-modal-team">
    <div class="modal-team">
        <button type="button" class="modal__team-close-btn js-modal-team-close">
            <svg class="modal__close-bth-img" width="32" height="32">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div>
            <p class="team__title title">Our Team</p>
            <ul class="team__list card-set js-open-modal-cocktail">
                <li class="team__list-item card-set-item">
                  <img
                    class="team__img"
                    src="./images/gallery/amaretto-sunrise__lg.jpg"
                    alt="Negroni cocktail"
                    loading="lazy"
                  />
                  <div class="workers">
                    <h2 class="workers__title">Max Holovachuk</h2>
                    <p class="workers__text">Senior developer</p>
                    <ul class="soc">
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
          
                <li class="team__list-item card-set-item">
                  <img
                    class="team__img"
                    src="./images/gallery/amaretto-sunrise__lg.jpg"
                    alt="Margarita cocktail"
                    loading="lazy"
                  />
                  <div class="workers">
                    <h2 class="workers__title">Helen Abharian</h2>
                    <p class="workers__text">Scrum master</p>
                    <ul class="soc">
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
          
                <li class="team__list-item card-set-item">
                  <img
                    class="team__img"
                    src="./images/gallery/amaretto-sunrise__lg.jpg"
                    alt="Cosmopolitan cocktail"
                    loading="lazy"
                  />
                  <div class="workers">
                    <h2 class="workers__title">Dmytro Salenko</h2>
                    <p class="workers__text">Senior developer</p>
                    <ul class="soc">
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="team__list-item card-set-item">
                    <img
                      class="team__img"
                      src="./images/gallery/amaretto-sunrise__lg.jpg"
                      alt="Cosmopolitan cocktail"
                      loading="lazy"
                    />
                    <div class="workers">
                        <h2 class="workers__title">Daria Il'uchenko</h2>
                        <p class="workers__text">Middle developer</p>
                        <ul class="soc">
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                  </li>
                  <li class="team__list-item card-set-item">
                    <img
                      class="team__img"
                      src="./images/gallery/amaretto-sunrise__lg.jpg"
                      alt="Cosmopolitan cocktail"
                      loading="lazy"
                    />
                    <div class="workers">
                        <h2 class="workers__title">Bohdana Lozenko</h2>
                        <p class="workers__text">Middle developer</p>
                        <ul class="soc">
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                  </li>
                  <li class="team__list-item card-set-item">
                    <img
                      class="team__img"
                      src="./images/gallery/amaretto-sunrise__lg.jpg"
                      alt="Cosmopolitan cocktail"
                      loading="lazy"
                    />
                    <div class="workers">
                        <h2 class="workers__title">Viktor Hirzhev</h2>
                        <p class="workers__text">Middle developer</p>
                        <ul class="soc">
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a href="" class="soc__link soc__link--team">
                                    <svg class="soc__icon" width="20" height="20">
                                        <use href="./images/icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                  </li>
                  <li class="team__list-item card-set-item">
                    <img
                      class="team__img"
                      src="./images/gallery/amaretto-sunrise__lg.jpg"
                      alt="Cosmopolitan cocktail"
                      loading="lazy"
                    />
                    <div class="workers">
                        <h2 class="workers__title">Denys Khmelevskyi</h2>
                        <p class="workers__text">Team lead</p>
                        <ul class="soc">
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc__item">
                            <a href="" class="soc__link soc__link--team">
                                <svg class="soc__icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    </div>
                  </li>
              </ul>
        </div>            
    </div>
</div>