.backdrop__mobile {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  opacity: 1;
  visibility: visible;
  @include mq(mob) {
    align-items: flex-start;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
  }

  &.is-open {
    display: flex;
    overflow-y: scroll;
  }

  &.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 93%;
  height: 100%;
  padding: 32px 20;

  background-color: var(--mob-menu-bg-color);

  transition: swing-in-right-bck 600ms ease-in-out both;
}

// menu toggle button
.btn__burger-menu-toggle {
  z-index: 25;
  position: sticky;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: 0;
  border-radius: 50%;
  // background-color: transparent;
  @include mq(desk) {
    display: none;
  }

  & .menu__open-icon {
    opacity: 1;
  }
  & .menu__close-icon {
    opacity: 0;
  }

  &.is-active .menu__open-icon {
    opacity: 0;
  }
  &.is-active .menu__close-icon {
    opacity: 1;
  }
}

.menu-toggle__icon {
  fill: var(--btn-mob-menu-color);
}

.btn__burger-menu-toggle:hover svg,
.btn__burger-menu-toggle:focus svg {
  fill: var(--accent-color);
}

.menu__list {
  display: flex;
  flex-direction: column;
  //   text-align: left;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  color: var(--hero-text-color);
}

// theme toggler
.menu__theme-list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.menu__theme-item {
  display: flex;
}

.menu__theme-light {
  font-family: var(--title-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-theme-color);
}

.menu__switcher {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 0.604701px solid #fd5103;
  border-radius: 20px;
}

.menu__theme-dark {
  font-family: var(--title-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--theme-dark-color);
}

// search
.menu__search {
  margin-bottom: 40px;
  position: relative;
}

.menu__search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.menu__search-input {
  padding: 8px 8px 8px 48px;
  width: 288px;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 5px;
  outline: none;
  background-color: var(--search-input-color);
}

.menu__search-btn {
  width: 40px;
  height: 40px;
  border: 1px;
  background-color: transparent;
  position: absolute;
  left: 0;
}

.menu__search-border::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 19px;
  width: 39px;
  height: 1px;
  background-color: var(--accent-color);

  transform: rotate(90deg);
}

// menu list
.menu__nav-item {
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;

  &::before {
    content: '♥';
    color: transparent;
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__fav-item {
  &::before {
    content: '♥';
    color: var(--accent-color);
  }
}
