.backdrop-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  
  .backdrop-team .visually-hidden .modal-team {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  }
  
  .modal-team {
    overflow: scroll;
    border-radius: 4px;
    position: absolute;
    width: 100%;
	max-width: 1200px;
	max-height: 800px;
    top: 20px;
    left: 50%;
    transform: translate(-50%) scale(1) rotate(0);
    background-color: #fff;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 30px;
    @media screen and (min-width: 768px) {
      top: 20px;
    }
    @media screen and (min-width: 1200px) {
      top: 20px;
      padding: 30px 40px;
    }
  }
  
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
    &:hover,
    &:focus {
      fill: var(--white-color);
      background-color: var(--accent-color);
    }
  }

  .team__title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.91;
    color: var(--title-light-color);

  @include mq(fab) {
    font-weight: 700;
    font-size: 32px;
  }

  @include mq(tab) {
    font-weight: 700;
    font-size: 32px;
  }

  @include mq(desk) {
    font-weight: 500;
    font-size: 38px;
    line-height: 1.5;
  }
  }
  
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  
    @include mq(tab) {
        --card-item: 2;
        --card-gap: 20px;
      }
    
      @include mq(desk) {
        --card-item: 5;
        --card-gap: 30px;
      }
  }

  .team__list-item {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .team__img {
    display: block;
    width: 100%;
  }

    .workers {
	padding: 10px 10px;
}

.workers__title {
	color: var(--title-light-color);
	font-family: var(--title-font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.workers__text {
	font-family: var(--title-font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	// margin-bottom: 16px;
}

.soc {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.soc__icon {
	fill: var(--black-color);
	transition: fill var(--transition);
}

.soc__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color var(--transition);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
		outline: none;
	}
}

.soc__link--team {
	background-color: #ffffff;
	&:hover .soc__icon,
	&:focus .soc__icon {
		fill: #ffffff;
	}
}

.soc__link--footer {
	background-color: rgba(255, 255, 255, 0.1);
	fill: #ffffff;
}
