.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
}

.modal__ingredient,
.modal__cocktail {
  width: 822px;
  height: 598px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--modal-bg-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
  0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 0;
}

.modal__ingredient {
  width: 715px;
  height: 537px;
}

.modal__wrap {
  display: flex;
  align-items: flex-start;
}

.cocktail__img {
  width: 288px;
  height: 320px;
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  bottom: 28px;
  right: 28px;

  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  width: 185px;
  height: 48px;
  font-family: var(--gallery-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--white-color);
  background: var(--btn-text-color);
}

.modal__btn:hover {
  background: var(--btn-bg-color);
  color: var(--white-color);
}

.ingredient__name,
.cocktail__name {
  margin-top: 40px;
  margin-left: 32px;
  font-family: var(--gallery-font-family);
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  color: var(--modal-title-color);
}

.ingredient__title,
.cocktail__title {
  margin-top: 28px;
  margin-left: 32px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--modal-title-color);
}

.cocktail__text {
  margin-top: 8px;
  margin-left: 32px;
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--modal-title-color);
}

.ingredient {
  margin-top: 8px;
  margin-left: 32px;
  height: 125px;
  overflow: overlay;
}

.ingredient__item {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--modal-text-color);
}

.ingredient__accent {
  color: var(--modal-title-color);
}

.ingredient-link {
  cursor: pointer;
}

.recipe__wrap {
  margin-left: 28px;
}

.recipe__title {
  margin-top: 28px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--modal-title-color);
}

.recipe__text {
  margin-top: 10px;
  max-width: 764px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--modal-text-color);
  max-height: 90px;
  overflow: overlay;
}

.btn--close {
  position: absolute;
  top: 12px;
  right: 12px;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: auto;
  padding: 0;
  display: flex;
  background-color: transparent;
  border: transparent;
  fill: var(--modal-close-icon-color);
}

//.......modal-2

.accent__text {
  font-weight: 600;
  color: var(--modal-accent-text-color);
}

.description__text {
  margin-top: 28px;
  margin-left: 32px;
  max-width: 654px;;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--modal-text-color);
  max-height: 110px;
  overflow: overlay;
}

.characteristic {
  margin-top: 28px;
  margin-left: 28px;
}

.view {
  margin-bottom: 40px;
}

.line {
  border-bottom: 1px solid #FD5103;
  width: 715px;
}